# Ignore the virtual-environment folder


# Virtual environment directories
# ignore all virtual environment directories
*env*/

# ignore .env files
.env



# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# (Optional) Logs, temp files
*.log
*.tmp
